
purple = #836a78
cream = #e8dcbf
cream-25 = #f9f6ef
maroon = #948779
sand = #c9ad6b
brown = #36372b
pastel = #583638
gray-10 = #f8f8f8


header-footer-color = brown
white-text-color = cream
link-color = purple

.main
  width 100%
  margin 0px auto
  padding 0px
  background-color white

  .header
    position relative
    overflow hidden
    border 0px
    background-color header-footer-color
    border-bottom 4px solid black
    margin-bottom 20px
    color white-text-color
    z-index 50
    height 72px
        
    h1
      position relative
      color white-text-color
      margin-left 20px
    
  .rounded-corners
    -moz-border-radius 20px
    -webkit-border-radius 20px
    -khtml-border-radius 20px
    border-radius 20px
    background-color gray-10
    border 0px none gray-10
    padding 1px

  .content
    position relative
    width 890px
    padding 0px
    margin 0px auto
    
    .main
      position relative
      padding 20px
      margin-bottom 20px    
  
  .footer
    position relative
    overflow auto
    border 0px
    background-color header-footer-color
    border-top 1px solid black
    margin-top 20px
    color white-text-color
    a
      color white-text-color
  